# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Datasets and CSVs
*.csv
!Resume/Resume.csv
*.pdf
data/

# Virtual environments
venv/
env/
.env

# Streamlit
.streamlit/
